@charset "UTF-8";
// wrapper
$wrapper-bg:            #fff;
$content-spacing:       75px !default;

// header
$header-bg:             url(#{$img-path}/bgHeader.png) center 0 repeat-x;
$header-height:         112px;

$menu-height:           70px;
$menu-height-sm:        100%;
$menu-link:             transparent;
$menu-link-hover:       $brand-secondary;

// footer
$footer-height:         50px !default;
$footer-bg:             #113a4d;
$goTop:                 (bottom 10px), (right 15px) !default;


/*      layout
-----------------------------------------------------------------------*/
// 外層-內容有絕對定位
%container {
    position: relative;
}

%center {
    max-width: wrap-width(xl); // 最大寬度限制 (非滿版才需要)
    margin: 0 auto;
}

// 容器-header、wrap、main、footer等
%contain {
    @extend %clearfix;

    // 最小寬度限制 (無 RWD - 至少 lg 的寬度)
    min-width: wrap-width(lg); 

    // 最小寬度限制 (有 RWD - 至少 xxs 的寬度)
    @include media(xs) {
        min-width: wrap-width(xxs);
    }
}

#wrapper {
    @extend %container;
    @if $lte7 {
        _height: 100%;
    }
    min-height: 100%;
    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距
    background: $wrapper-bg;
}

.wrap {
    @extend %container;
    @extend %center;
    @extend .text-left;
    @extend %clearfix;
}

#header, #main, #footer {
    @extend %container;
    @extend %contain;

    @include media(lg) {
        padding-left: ($gutter)-5px;
        padding-right: ($gutter)-5px;
    }

    @include media(lg-min) {
        padding-left: $gutter+5 ;
        padding-right: $gutter+5 ;
    }
}

#main {
    @extend .text-left;

    z-index: z(main);
}


// header
// ----------------------------------------------------------------------
#header {
    height: $header-height;
    z-index: z(header);

    &::before {
        content:" ";
        display: block;

        background: $brand-primary;
        
        @include size (100%, $menu-height);
        @include absolute(top 158px left 0);
    }

    @include media(sm) {
        height: 149px;
        border-bottom: 5px solid $brand-primary;

        &::before {display: none;}
    }

    h1 {
        cursor: pointer; cursor: hand; // for ie
        z-index: z(logo);

        @include text-pic('logo.png', 340px, 135px);
        @include absolute(left 0 top 0);

        @include media(sm) {
            width: 300px;
            height: 117px;
            background-size:100%;

            position: static;
            margin:15px auto;
        }        
    }
}

.logo, #menu, .award {
    position: absolute;
}

.top-nav {
    z-index: z(logo)-1;

    @include absolute(right 0 top 16px);

    li {
        background:url(#{$img-path}/iconAward.png) no-repeat;
        height:40px;

        font-size: em(13px);
        color: #789bb3;

        margin-right:30px;
        padding:4px 0 0 45px;

        @for $i from 1 through 2 {
            $icon-y: 0px -100px;
            &:nth-child(#{$i}) {
                background-position: 0 nth($icon-y, $i);
            }
        }
    }

    @include media(sm) {
        top:10px;
        margin-top: -1em; // fix for hidden text

        li {
            @include text-hide;

            width:40px;
            margin-right:10px;
            padding:0;
            &:last-child {margin-right:0;}
        }
    }
}


// footer
// ----------------------------------------------------------------------
#footer {
    background: $footer-bg;
    margin-top: -($footer-height);
    height: $footer-height;
    z-index: z(footer);
}

.copyright {
    color: $brand-secondary;
    font-size: em(12px);

    @include absolute(left 0 top 235px);
}

.goTop {
    @include circle(60px, true, block);
    display: none;
    opacity: .8;
    background:$brand-primary;

    color:#fff;

    z-index: z(goTop);
    position: fixed;

    transition: none;

    @each $attr, $value in $goTop {
        #{$attr}: $value;
    }

    &:hover {
        opacity: 1;
        color:#fff;
    }

    @include media(xs) {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}