section header,
article h2,
.intro a,
.products h3,
#info h3,
#ad a,
main header,
figure h3 {
  font-family: "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, Helvetica, Arial, sans-serif;
  font-weight: bold; }

.ad #banner strong,
.ad2 #banner strong {
  background-image: url(../images/aa/title_cn.png);
  height: 91px; }
