html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/*      basic elements
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

button {
  outline: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html, body {
  text-align: center;
  height: 100%; }

body {
  background: #FEF8AF;
  color: #5C5C5C;
  font-family: "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, NeutrafaceDemi, Helvetica, Arial, sans-serif;
  line-height: 1.25; }

a {
  color: #37BCEE;
  text-decoration: none;
  transition: all .35s ease; }
  a:hover, a.active {
    color: #6DB831; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

img {
  vertical-align: middle; }

@font-face {
  font-family: MElleHK;
  src: url(../font/MElleHK.otf) format("opentype"); }
@font-face {
  font-family: NeutrafaceDemi;
  src: url(../font/NeutrafaceDemi.otf) format("opentype"); }
h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1; }
  h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1; }

h2, h3 {
  margin-bottom: 0.625em; }
  h2 small, h3 small {
    font-size: 65%; }

h4, h5, h6 {
  margin-bottom: 0.625em; }
  h4 small, h5 small, h6 small {
    font-size: 75%; }

h2 {
  font-size: 1.875em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.875em; }

p {
  margin: 0 0 0.625em;
  line-height: 1.5; }

small {
  font-size: 85%; }

mark {
  background-color: #fceccc;
  padding: .2em; }

hr {
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #f9f9f9; }

ul, ol {
  margin-bottom: 10px; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0; }

dl {
  margin-bottom: 20px; }

dt, dd {
  line-height: 1.25; }

dt {
  font-weight: bold; }

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.25; }

#header::after, #footer::after, #main::after, section::after, .wrap::after, .clearfix::after {
  content: '';
  display: table;
  clear: both; }

.full {
  width: 100%;
  max-width: 100%; }

.half {
  width: 46.9%; }

.float-l {
  float: left; }

.float-r {
  float: right; }

.valign-t {
  vertical-align: top; }

.valign-m {
  vertical-align: middle; }

.valign-b {
  vertical-align: bottom; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.circle, .bottom a:first-child, .goTop, .tabs li {
  border-radius: 50%; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .bottom a:first-child, .goTop {
  text-align: center; }

.tabs p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.list-inline, .list-unstyled {
  list-style: none; }

.list-inline {
  margin-left: -5px; }
  .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

/*      layout
-----------------------------------------------------------------------*/
#wrapper, .wrap, #header, #footer, #main, section {
  position: relative; }

#wrapper, .wrap, #footer {
  max-width: 1440px;
  margin: 0 auto; }

@media all and (min-width: 992px) {
  #header, #footer, #main, section {
    min-width: 1008px; } }

#wrapper {
  min-height: 100%;
  padding-bottom: 50px;
  background: #fff; }
  @media all and (max-width: 768px) {
    #wrapper {
      padding-bottom: 100px; } }

#header {
  z-index: 2; }
  #header h1 {
    cursor: pointer;
    cursor: hand;
    z-index: 50;
    width: 235px;
    height: 83px;
    font: 0/0 a;
    text-indent: -9999px;
    background: url(../images/logo.png) 0 0 no-repeat;
    position: absolute;
    top: 28px;
    left: 5%; }
    @media all and (max-width: 544px) {
      #header h1 {
        top: 15px;
        left: 10px;
        background-size: contain;
        width: 150px;
        height: 70px; } }

.top-nav {
  font-size: 1.75em;
  text-align: right;
  z-index: 49;
  position: absolute;
  top: 38px;
  right: 20px; }
  @media all and (max-width: 544px) {
    .top-nav {
      font-size: 1em;
      right: 10px;
      top: 12px; } }
  .top-nav a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    color: #fff;
    line-height: 34px; }
    .top-nav a.club {
      background-attachment: fixed;
      width: 35px;
      height: 35px;
      font: 0/0 a;
      text-indent: -9999px;
      background: url(../images/icon_club.png) 0 0 no-repeat; }
    .top-nav a:last-of-type {
      background-position: -92px 0; }
  .top-nav span {
    display: block;
    clear: both;
    color: #fff;
    font-size: 0.71429em;
    margin-top: 8px; }

#footer {
  background: #656565;
  margin-top: -50px;
  height: 50px;
  z-index: 3;
  color: #fff;
  padding: 15px; }
  @media all and (max-width: 768px) {
    #footer {
      margin-top: -100px;
      height: 100px; } }

.explain {
  float: right; }
  @media all and (max-width: 768px) {
    .explain {
      float: none;
      text-align: center;
      padding-top: 10px; } }
  .explain a {
    color: #fff;
    font-size: 1.0625em; }

.copyright {
  float: left;
  font-size: 1.0625em;
  text-align: left; }

@media all and (max-width: 768px) {
  .bottom, .goTop {
    -webkit-transform: scale(0.6) translateX(40%);
    -o-transform: scale(0.6) translateX(40%);
    transform: scale(0.6) translateX(40%); } }

.bottom {
  position: fixed;
  right: 0;
  bottom: 16%;
  width: 115px;
  padding: 15px 3px;
  background: #fff;
  border-radius: 15px 0 0 15px;
  box-shadow: -10px 15px 0 rgba(203, 201, 200, 0.5);
  z-index: 71; }
  .bottom a {
    display: block;
    font-size: 1.9375em; }
    .bottom a:first-child {
      display: inline-block;
      width: 92px;
      height: 92px;
      line-height: 92px;
      background: #37BCEE;
      color: #F5F199; }
      .bottom a:first-child:hover, .bottom a:first-child:active {
        background: #6DB831; }
    .bottom a:last-child {
      border-top: 1px solid #878787;
      line-height: 1.1;
      padding-top: 12px;
      margin: 12px 10px 0 10px; }

.goTop {
  position: fixed;
  right: 1%;
  bottom: 4%;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid #37BCEE;
  color: #37BCEE;
  font-size: 2.5em;
  line-height: 1.1;
  padding-top: 37px;
  display: none;
  z-index: 70; }
  .goTop::before {
    display: inline-block;
    border: 10px solid transparent;
    width: 0;
    height: 0;
    border-bottom-color: #37BCEE;
    border-bottom-width: 22px;
    border-top-width: -2px;
    position: absolute;
    top: 0;
    left: 50%;
    content: '';
    margin-left: -10px; }
  .goTop:hover, .goTop:active {
    opacity: 1;
    background: #fff;
    color: #13a7df; }

.top-nav a, .top-nav span {
  color: #656565;
  font-size: 0.875em; }

#banner img {
  width: 100%; }

h3 {
  color: #56901B;
  font-size: 2em;
  font-family: MElleHK, NeutrafaceDemi, "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, Arial, sans-serif;
  margin-bottom: 5px; }

.tabs {
  background: #72B444;
  padding: 20px 0;
  margin: 0; }
  .tabs p {
    color: #656565;
    font-size: 1.4375em;
    font-weight: bold;
    line-height: 1.2;
    margin-top: -35px; }
  .tabs a {
    color: #000;
    font-size: 1.25em;
    font-weight: bold;
    position: absolute;
    bottom: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
    .tabs a:hover, .tabs a:active {
      color: #37BCEE; }
  .tabs li {
    display: inline-block;
    width: 276px;
    height: 276px;
    background: rgba(255, 255, 255, 0.7) url(../images/comic/arrow.gif) center 228px no-repeat;
    border: 4px solid #8A901B;
    position: relative;
    vertical-align: middle;
    padding: 65px 0;
    margin: .2%; }
    .tabs li:nth-child(even) {
      border-color: #405F1B; }
    .tabs li:first-child h3 {
      background: url(../images/index/icon_title2.gif) right 0 no-repeat;
      padding-right: 10px;
      margin-right: 30px;
      margin-top: -20px; }
      @media all and (max-width: 320px) {
        .tabs li:first-child h3 {
          background: none;
          padding: 0;
          margin: 0; } }
    @media all and (max-width: 768px) {
      .tabs li {
        max-width: 220px;
        max-height: 220px;
        padding-top: 50px; }
        .tabs li h3 {
          font-size: 1.375em; }
        .tabs li p {
          font-size: 1.125em;
          margin-top: -15px; } }
    @media all and (max-width: 320px) {
      .tabs li {
        max-width: 142px;
        max-height: 142px;
        padding: 23px 10px; }
        .tabs li h3 {
          font-size: 1.0625em; }
        .tabs li p {
          font-size: 0.8125em;
          margin-top: -25px; }
        .tabs li a {
          font-size: 0.75em;
          min-width: 142px; } }

.tabs-content img {
  width: 100%; }
