@charset "UTF-8";

// var 變數，需放在 @import "helper/var" 之上才能覆蓋掉
// ------------------------------------------------------------
$img-path2:             '../images/index';

$content-spacing:       0;
$banner-height:         785px;


// import
// ------------------------------------------------------------
@import "helper/function";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";

@import "component/classes";
@import "component/btn";

@import "layout/layout";


// main
// ----------------------------------------------------------------------
#banner {
    width: 100%;
    height: $banner-height;
    margin-top: -($header-height);

    ul {
        @extend %list-unstyled;
        margin-bottom: 0;

        li {
            height: $banner-height;
            position: relative;
        }
    }
}
@for $i from 1 through 1 {
    #banner .i#{$i} {
        background: url(#{$img-path2}/banner#{$i}.jpg) no-repeat center top;
        background-size: cover;
    }
}

.products {
    background: #ECECEB;
}