@charset "UTF-8";

$font-size-h3:     28px;
$font-size-h4:     24px;
$btn-font-size:    17px;

$sidebar-width:    245px;
$sidebar-width-md: 100%;
$sidebar-gutter:   40px;

$overlay-bg:       hsla(199,64%,8%,0.9);

// import
// ------------------------------------------------------------
@import "helper/function";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";
@import "base/form";
@import "base/table";

@import "component/classes";
@import "component/btn";

@import "layout/grid";
@import "layout/layout";



// elements
// ----------------------------------------------------------------------