@charset "UTF-8";

$img-path2:             '../images/mail';
$text-color:            #5C5C5C;

// import
// ------------------------------------------------------------
@import "helper/function";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";
@import "base/table";

@import "component/classes";

@import "layout/layout";



// elements
// ----------------------------------------------------------------------
#header h1 {
    background-image: url(#{$img-path2}/logo.gif);
    @include size(238px,86px);
}
.top-nav {
    a, span { color: #656565; font-size: em(14px); }
}
#banner {
    img { width: 100%; }
}

.wrap {
    max-width: 876px;
    @include media(sm) {
        padding-right: $gutter;
        padding-left: $gutter;
    }
}
main {
    padding: 40px 0;
    text-align: center;
    header {
        background: url(#{$img-path2}/titleBg.gif) 0 center no-repeat;

        color: #fff;
        font-size: em(55px);
        font-family: $font-sp;
        line-height: 99px;
        text-align: left;

        margin-bottom: 30px;
        padding-left: cp(40px);
    }
}
table {
    margin: auto; margin-bottom: 55px;
    width: 100%;
    em {
        color: #F8124C;
        font-style: normal;
        margin-right: 5px;
    }
}