@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/*      basic elements
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

button {
  outline: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html, body {
  text-align: center;
  height: 100%; }

body {
  background: #FEF8AF;
  color: #5A5B5B;
  font-family: "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25; }

a {
  color: #C1761E;
  text-decoration: none;
  transition: all .35s ease; }
  a:hover, a.active {
    color: #7f4e14; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

img {
  vertical-align: middle; }

@font-face {
  font-family: MElleHK;
  src: local("蒙纳繁雅丽"), local("MElleHK-Medium"), url(../fontMElleHK.woff) format("woff"), url(../fontMElleHK.otf) format("opentype"), url(../fontMElleHK.ttf) format("opentype"); }
@font-face {
  font-family: NeutrafaceDemi;
  src: local("Neutraface2Text-Demi"), url(../fontNeutraface2Text-Demi.woff) format("woff"), url(../fontNeutraface2Text-Demi.otf) format("opentype"), url(../fontNeutraface2Text-Demi.ttf) format("opentype"); }
h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
  color: #0E303F; }
  h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #2d461f; }

h2, h3 {
  margin-top: 1.25em;
  margin-bottom: 0.625em; }
  h2 small, h3 small {
    font-size: 65%; }

h4, h5, h6 {
  margin-top: 0.625em;
  margin-bottom: 0.625em; }
  h4 small, h5 small, h6 small {
    font-size: 75%; }

h2 {
  font-size: 1.875em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.875em; }

p {
  margin: 0 0 0.625em;
  line-height: 1.5; }

small {
  font-size: 85%; }

mark {
  background-color: #fceccc;
  padding: .2em; }

hr {
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #f9f9f9; }

ul, ol {
  margin-bottom: 10px; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0; }

dl {
  margin-bottom: 20px; }

dt, dd {
  line-height: 1.25; }

dt {
  font-weight: bold; }

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.25; }

#header::before, #main::before, #footer::before, .wrap::before, #header::after, #main::after, #footer::after, .wrap::after, .clearfix::before, .clearfix::after {
  content: " ";
  display: table; }
#header::after, #main::after, #footer::after, .wrap::after, .clearfix::after {
  clear: both; }

.full {
  width: 100%;
  max-width: 100%; }

.half {
  width: 46.9%; }

.float-l,
.float-r {
  margin: 0 0 20px 0;
  position: relative; }

.float-l {
  float: left; }

.float-r {
  float: right; }

.valign-t {
  vertical-align: top; }

.valign-m {
  vertical-align: middle; }

.valign-b {
  vertical-align: bottom; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.circle, .goTop {
  border-radius: 50%; }

.text-left, .wrap, #main {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.list-inline, #banner ul, .list-unstyled {
  list-style: none; }

.list-inline {
  margin-left: -5px; }
  .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

.btn {
  display: inline-block;
  padding: 10px;
  background: #2A5015;
  border-radius: 10px;
  border: 2px solid #ddd;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: AnjaEliane, "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8125em;
  line-height: 1.01;
  transition: background 0.3s; }
  .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .btn:focus, .btn.focus {
    background: #6DB831;
    color: #fff; }
  .btn:active, .btn.active {
    outline: 0; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65; }

/*      layout
-----------------------------------------------------------------------*/
#wrapper, .wrap, #header, #main, #footer {
  position: relative; }

.wrap {
  max-width: 1440px;
  margin: 0 auto; }

#header, #main, #footer {
  min-width: 1008px; }
  @media (max-width: 543px) {
    #header, #main, #footer {
      min-width: 320px; } }

#wrapper {
  min-height: 100%;
  padding-bottom: 50px;
  background: #fff; }

@media (max-width: 1399px) {
  #header, #main, #footer {
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 992px) {
  #header, #main, #footer {
    padding-left: 20px;
    padding-right: 20px; } }

#main {
  z-index: 1; }

#header {
  height: 112px;
  z-index: 2; }
  #header::before {
    content: " ";
    display: block;
    background: #2A5015;
    width: 100%;
    height: 70px;
    position: absolute;
    top: 158px;
    left: 0; }
  @media (max-width: 767px) {
    #header {
      height: 149px;
      border-bottom: 5px solid #2A5015; }
      #header::before {
        display: none; } }
  #header h1 {
    cursor: pointer;
    cursor: hand;
    z-index: 50;
    width: 340px;
    height: 135px;
    font: 0/0 a;
    text-indent: -9999px;
    background: url(../images/logo.png) 0 0 no-repeat;
    position: absolute;
    top: 0;
    left: 0; }
    @media (max-width: 767px) {
      #header h1 {
        width: 300px;
        height: 117px;
        background-size: 100%;
        position: static;
        margin: 15px auto; } }

.logo, #menu, .award {
  position: absolute; }

.top-nav {
  z-index: 49;
  position: absolute;
  top: 16px;
  right: 0; }
  .top-nav li {
    background: url(../images/iconAward.png) no-repeat;
    height: 40px;
    font-size: 0.8125em;
    color: #789bb3;
    margin-right: 30px;
    padding: 4px 0 0 45px; }
    .top-nav li:nth-child(1) {
      background-position: 0 0px; }
    .top-nav li:nth-child(2) {
      background-position: 0 -100px; }
  @media (max-width: 767px) {
    .top-nav {
      top: 10px;
      margin-top: -1em; }
      .top-nav li {
        font: 0/0 a;
        text-indent: -9999px;
        width: 40px;
        margin-right: 10px;
        padding: 0; }
        .top-nav li:last-child {
          margin-right: 0; } }

#footer {
  background: #113a4d;
  margin-top: -50px;
  height: 50px;
  z-index: 3; }

.copyright {
  color: #6DB831;
  font-size: 0.75em;
  position: absolute;
  top: 235px;
  left: 0; }

.goTop {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  display: none;
  opacity: .8;
  background: #2A5015;
  color: #fff;
  z-index: 70;
  position: fixed;
  transition: none;
  bottom: 10px;
  right: 15px; }
  .goTop:hover {
    opacity: 1;
    color: #fff; }
  @media (max-width: 543px) {
    .goTop {
      width: 50px;
      height: 50px;
      line-height: 50px; } }

#banner {
  width: 100%;
  height: 785px;
  margin-top: -112px; }
  #banner ul {
    margin-bottom: 0; }
    #banner ul li {
      height: 785px;
      position: relative; }

#banner .i1 {
  background: url(../images/index/banner1.jpg) no-repeat center top;
  background-size: cover; }

.products {
  background: #ECECEB; }
